.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background: #16213E;
    display: grid;
    place-items: center;
    font-family: "Poppins", sans-serif;
}

.loading-box{
    position: relative;
    width: 500px;
    height: 200px;
    border: 3px solid #9ED2C6;
    border-top: 3px solid #316766;
    border-bottom: 3px solid #316766;

    @media (max-width: 600px) {
        & {
            width: 90vw;
        }
        
    }
}

.loading-bar {
    width: 90%;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background: #E9DAC1;
    border-radius: 2px;
}

.loading-bar-inner{
    height: 100%;
    width: 0%;
    border-radius: 2px;
    background: #9ED2C6;
}

.loading-text{
    position: relative;
    color: #fff;
    padding: 1rem;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 355px) {
        & {
            font-size: 15px;
        }
        
    }
}

.loading-text-boarder{
    width: 85%;
    height: 1px;
    background: #9ED2C6;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.loading-counter{
    position: absolute;
    top: 70%;
    left: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.loading-width-animation{
    animation: width-animation 1s forwards;

    @keyframes width-animation {
        0% {
            width: 85%;
        }

        100% {
            width: 100%;
        }
        
    }
}

.svg-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 83%;
    opacity: 0;
}



