@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

body{
    font-family: 'Poppins', sans-serif;
    
    /* font view like better */
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}